/* Сброс всех стандартных стилей браузера */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Убираем стили по умолчанию для всех элементов */
a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

/* Другие элементы */
table {
  border-collapse: collapse;
}
