@use '../base/reset';
@use '../base/_typography.scss';
@use '../utils/helpers';
@use '../utils/variables' as *;

.header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  padding: 12px 82px 12px 82px;
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 8px;

  .menu-item {
    height: 40px;
    padding: 12px 20px 12px 20px;
    cursor: pointer;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: $primary-10;
        border-radius: 10px;
        transition: 0.3s;
        div {
          color: $primary;
        }
      }
    }
  }
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 20px 8px 20px;
  gap: 8px;

  span {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 2px;
  }
}

.logo-link {
  text-decoration: none;
}

.active-head-item {
  height: 40px;
  padding: 12px 20px 12px 20px;
  cursor: pointer;
  background-color: $primary-10;
  border-radius: 10px;
  div {
    color: $primary;
  }
}
.menu-item.disabled {
  pointer-events: none;
  cursor: default;
  background-color: $primary-10;
  border-radius: 10px;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: $primary-10;
      div {
        color: $primary;
      }
    }
  }
}

.burger-menu {
  display: none;
  width: 40px;
  padding: 8px 10px 16px 10px;
  cursor: pointer;

  .line {
    width: 100%;
    height: 2px;
    margin-top: 8px;
    background-color: $dark;
    border-radius: 2px;
    word-spacing: normal;
  }
}
.close-button {
  display: none;
  padding: 13px 13px 13px 13px;
  width: 40px;
  height: auto;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  .line {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: $dark;
    border-radius: 2px;
    transform-origin: center;
    transition: transform 0.3s ease;

    &:nth-child(1) {
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      transform: rotate(-45deg);
    }
  }
}
body.menu-open {
  overflow: hidden; /* Отключаем прокрутку для body */
  min-height: 1024px;
}

.side-menu {
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: $white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 150px 20px 20px 20px;
}

.side-menu.open {
  right: 0; /* Показать меню */
}

.side-menu-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.side-menu-content a {
  padding: 12px 20px 12px 20px;
  color: $dark;
  transition: color 0.2s;
}

.side-menu-content a:hover {
  color: $primary;
}

@media screen and (max-width: 768px) {
  .header-container {
    padding-left: 8px;
    padding-right: 8px;
  }
  .menu-container {
    display: none;
  }
  .burger-menu {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    span {
      display: block;
      width: 25px;
      height: 3px;
      background: #333;
      margin: 5px 0;
      transition: 0.3s;
    }
  }
  .side-menu {
    margin-top: 64px;
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
