$primary: #ff4646;
$primary-10: rgba($primary, 0.1);
$dark: #181c29;
$white: #ffffff;
$white-40: rgba($white, 0.4);
$white-20: rgba($white, 0.2);
$tag-purple: #4361ff;
$tag-pink: #ff43f7;
$tag-green: #06a44f;
$bg-color: #ecf3f8;
$overlay: rgba(#181c29, 0.8);
